@tailwind base;
@tailwind components;
@tailwind utilities;

.switch {
width: 100px;
height: 100px;
background-color: black;
border-radius: 30px;;

}

<<<<<<< HEAD:e-commerce/e-commerce/src/style.css
}
=======

>>>>>>> 1c4e8db78bc7054a5f7a64f9e64ccfb8394e36b8:e-commerce/src/style.css

